/* Colors */
$mainColor: #f95353;
$accentColor: #57c654;
$iconBlueColor: #37adef;
$paraColor: #9d9d9d;
$headings: #55565b;
$gradientColor: linear-gradient(90deg, $accentColor, $mainColor);
$hoverInvert: #fff;
$blocksBackground: #f7f7f7;
$overlay: #3a3b3c;
$footer: #1a1a1a;
$copyright: #000000;
$iconColors: #fff;
$linksColor: #fff;
$navColor: #161718;

/* Delays and Times */
$transWait: 400ms;

/* Spacing */
$sectionPaddings: 2em 1em;
